*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  max-width: 100vw;
}

.page {
  /*inline-size: 1920px;*/
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  justify-content: space-between;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 399px;
}

.content__accent {
  padding-bottom: 0;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__list-item:last-of-type {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card-thumbnail {
  height: 103px;
  object-fit: cover;
  min-width: 194px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 21px;
  margin: 0;
}

.content__accent {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  box-sizing: content-box;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 189px;
  padding-top: 4px;
}

.more-button {
  width: 100%;
  cursor: pointer;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  max-width: 189px;
  padding-top: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  width: 212px;
  margin-top: 4px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  margin-top: 6px;
  padding-left: 1px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #fff;
}

input {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: initial;
  border-right: none;
  border-left: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  appearance: none;
  width: 225px;
  margin-left: -2px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  width: fit;
}

input:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

label:focus:not(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label-text:focus-visible {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  background-color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  padding: 6px 73.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
  cursor: pointer;
  margin-top: 20px;
}

.more-button {
  height: 34px;
  width: 390px;
  cursor: pointer;
  margin-left: 2px;
  margin-bottom: 2px;
}

.button:hover {
  text-decoration: underline;
  text-decoration-line: 1px solid #fff;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:focus:not(:focus-visible) {
  outline: 0;
}

.result__video-container {
  position: relative;
}
